<div class="flex items-center justify-center h-full">
  <div class="grid bg-white rounded-lg shadow-xl w-3/4 md:w-1/2 lg:w-1/3"> 

    <h1 class="text-gray-600 text-center pt-8 font-bold md:text-2xl text-xl">New Project</h1>

    <form [formGroup]="projectForm" class="eventForm" (ngSubmit)="onSubmit()">
      <div class="grid mt-5 mx-7">
        <label for="name" class="md:text-sm text-xs text-gray-500 text-light font-semibold">Name</label>
        <input type="text" class="py-2 px-3 rounded-lg border-2 border-cyan-300 mt-1 focus:outline-none focus:ring-2 focus:ring-cyan-600 focus:border-transparent" placeholder="Project name" formControlName="name"/>
      </div>
      <div class="grid mt-5 mx-7">
        <label for="description" class="md:text-sm text-xs text-gray-500 text-light font-semibold">Description</label>
        <textarea class="py-2 px-3 rounded-lg border-2 border-cyan-300 mt-1 focus:outline-none focus:ring-2 focus:ring-cyan-600 focus:border-transparent" placeholder="Enter description" formControlName="description" rows="6"></textarea>
      </div>
      <div class='flex items-center justify-center py-5'>
        <button class='w-auto bg-cyan-500 hover:bg-cyan-700 rounded-lg shadow-xl font-semibold text-white px-4 py-2'>Create</button>
      </div>
    </form>

  </div>
</div>