<div class="h-full w-48 space-y-6 py-7 px-2 border-r border-slate-300">
  <div class="text-xl px-2 pb-4 border-b">Welcome Joakim</div>

  <nav class="">
    <a routerLink="" class=" block py-2.5 px-4 rounded transition duration-200 hover:bg-blue-100">Dashboard</a>
    <a routerLink="projects" class=" block py-2.5 px-4 rounded transition duration-200 hover:bg-blue-100">Projects</a>
    <a routerLink="tickets" class=" block py-2.5 px-4 rounded transition duration-200 hover:bg-blue-100">Tickets</a>
    <a routerLink="about" class=" block py-2.5 px-4 rounded transition duration-200 hover:bg-blue-100">About</a>    
  </nav>
</div>
