<div class="w-full rounded-md p-12">
  <div class="mb-2 flex items-center" *ngIf="project$ | async as project">
    <h1 class="mr-6 text-2xl font-medium text-gray-600 dark:text-gray-100">
      {{ project.name }}
    </h1>
    <div class="flex gap-1">
      <ng-container *ngFor="let employee of project.members">
        <img
          src="https://i.pravatar.cc/200?u={{ employee }}"
          class="h-7 w-7 rounded-full"
          alt="member portrait"
        />
      </ng-container>
    </div>
  </div>
  <!-- Header -->
  <div class="flex items-center justify-between pb-6">
    <!-- Title -->
    <div>
      <h2 class="text-xl font-medium text-gray-600 dark:text-gray-100">
        Tickets
      </h2>
    </div>
    <!-- Search and buttons -->
    <div class="flex items-center">
      <search-input
        [searchPlaceholder]="'search tickets...'"
        [formControl]="filterInput"
        ngDefaultControl
      ></search-input>
      <div
        class="ml-8 lg:ml-16"
        *ngIf="
          authFacade.getUserDetails()?.role === 'Admin' ||
          authFacade.getUserDetails()?.role === 'Manager'
        "
      >
        <a
          [routerLink]="['../invite']"
          class="cursor-pointer rounded-md bg-blue-600 px-4 py-2 font-medium tracking-wide text-white"
          >Add member</a
        >
      </div>
      <div class="ml-8 lg:ml-16">
        <a
          routerLink="new"
          class="cursor-pointer rounded-md bg-indigo-600 px-4 py-2 font-medium tracking-wide text-white"
          >New ticket</a
        >
      </div>
    </div>
  </div>

  <ng-container *ngIf="tickets$ | async as tickets">
    <ticket-list [tickets]="tickets" [searchTerm]="searchTerm"></ticket-list>
  </ng-container>
</div>
