<div class="-mx-4 overflow-x-auto px-4 py-4 sm:-mx-8 sm:px-8">
  <div class="inline-block min-w-full overflow-hidden rounded-lg shadow">
    <table class="min-w-full leading-normal">
      <!-- Table Header -->
      <thead>
        <tr
          class="whitespace-nowrap bg-cyan-200 text-xs font-medium uppercase tracking-wider text-gray-600 dark:bg-slate-600 dark:text-gray-200"
        >
          <th class="px-5 py-3 text-center">Status</th>
          <th class="px-5 py-3 text-left">Ticket</th>
          <th class="px-5 py-3 text-center">Priority</th>
          <th class="px-5 py-3 text-left">Assigned To</th>
          <th class="px-5 py-3 text-left">Created</th>
        </tr>
      </thead>
      <!-- Table Body -->
      <tbody>
        <tr
          class="bg-white dark:bg-gray-100"
          *ngFor="
            let ticket of tickets
              | listFilterPipe
                : ['name', 'description', 'status', 'priority', 'type']
                : searchTerm
          "
        >
          <td class="border-b border-gray-200 px-5 py-5 text-center text-sm">
            <span
              *ngIf="ticket.status === 'Open'"
              class="whitespace-nowrap rounded-full bg-blue-200 px-3 py-1.5 text-sm font-medium tracking-wider text-blue-700 shadow-sm"
              >Open</span
            >
            <span
              *ngIf="ticket.status === 'In Progress'"
              class="whitespace-nowrap rounded-full bg-green-300 px-3 py-1.5 text-sm font-medium tracking-wider text-green-700 shadow-sm"
              >In Progress</span
            >
            <span
              *ngIf="ticket.status === 'Ready For Review'"
              class="whitespace-nowrap rounded-full bg-yellow-300 px-3 py-1.5 text-sm font-medium tracking-wider text-yellow-700 shadow-sm"
              >Ready for Review</span
            >
            <span
              *ngIf="ticket.status === 'Completed'"
              class="whitespace-nowrap rounded-full bg-slate-300 px-3 py-1.5 text-sm font-medium tracking-wider text-slate-700 shadow-sm"
              >Completed</span
            >
          </td>
          <td class="border-b border-gray-200 px-5 py-5 text-sm">
            <a
              [routerLink]="[
                '/projects',
                ticket.project,
                'tickets',
                ticket._id
              ]"
            >
              <p class="text-base text-gray-900">{{ ticket.name }}</p>
              <p class="text-gray-500 line-clamp-1">{{ ticket.description }}</p>
            </a>
          </td>
          <td class="border-b border-gray-200 px-5 py-5 text-center text-sm">
            <span
              *ngIf="ticket.priority === 'Low'"
              class="rounded-full bg-green-600 px-8 py-0.5 text-sm font-medium tracking-wider text-white shadow-sm"
              >Low</span
            >
            <span
              *ngIf="ticket.priority === 'Medium'"
              class="rounded-full bg-orange-600 px-8 py-0.5 text-sm font-medium tracking-wider text-white shadow-sm"
              >Medium</span
            >
            <span
              *ngIf="ticket.priority === 'High'"
              class="rounded-full bg-red-600 px-8 py-0.5 text-sm font-medium tracking-wider text-white shadow-sm"
              >High</span
            >
            <span
              *ngIf="ticket.priority === 'Critical'"
              class="rounded-full bg-black px-8 py-0.5 text-sm font-medium tracking-wider text-white shadow-sm"
              >Critical</span
            >
          </td>
          <td class="border-b border-gray-200 px-5 py-5 text-sm">
            <p class="whitespace-nowrap text-gray-900">
              {{ ticket.assignedTo?.name }}
            </p>
          </td>
          <td class="border-b border-gray-200 px-5 py-5 text-sm">
            <p class="whitespace-nowrap text-gray-900">
              {{ ticket.createdAt | date: "MMM dd, '''yy" }}
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
