<section class="grid min-h-screen place-items-center bg-gray-200">
  <div class="max-w-2xl">
    <div
      class="max-w-sm rounded-lg border border-gray-200 bg-white p-4 shadow-md dark:border-gray-700 dark:bg-gray-800 sm:p-6 lg:p-8"
    >
      <form
        class="space-y-6"
        [formGroup]="loginForm"
        (ngSubmit)="onLogin()"
        errorTailor
      >
        <h3 class="text-xl font-medium text-gray-900 dark:text-white">
          Login to access your account
        </h3>
        <div>
          <label
            for="email"
            class="mb-2 block text-sm font-medium text-gray-900 dark:text-gray-200"
            >Your email</label
          >
          <input
            type="email"
            formControlName="email"
            placeholder="name@company.com"
            class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-gray-700 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-500 dark:bg-gray-600 dark:text-white dark:placeholder-gray-400 sm:text-sm"
          />
        </div>
        <div>
          <label
            for="password"
            class="mb-2 block text-sm font-medium text-gray-700 dark:text-gray-200"
            >Your password</label
          >
          <input
            type="password"
            formControlName="password"
            placeholder="••••••••"
            class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-gray-900 placeholder:text-gray-400 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-500 dark:bg-gray-600 dark:text-white dark:placeholder-gray-400 sm:text-sm"
          />
        </div>
        <div class="flex items-start">
          <div class="flex items-start">
            <div class="flex h-5 items-center">
              <input
                id="remember"
                aria-describedby="remember"
                type="checkbox"
                class="focus:ring-3 h-4 w-4 rounded border border-gray-300 bg-gray-50 focus:ring-blue-300 dark:border-gray-600 dark:bg-gray-700 dark:ring-offset-gray-800 dark:focus:ring-blue-600"
              />
            </div>
            <div class="ml-2 text-sm">
              <label
                for="remember"
                class="font-medium text-gray-900 dark:text-gray-200"
                >Remember me</label
              >
            </div>
          </div>
          <a
            class="ml-auto text-sm text-blue-700 hover:underline dark:text-blue-500"
            >Forgot Password?</a
          >
        </div>
        <button
          type="submit"
          class="w-full rounded-lg bg-blue-700 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Login to your account
        </button>
        <div
          class="text-center text-sm font-medium text-gray-500 dark:text-gray-200"
        >
          Not registered?
          <a
            routerLink="../signup"
            class="text-blue-700 hover:underline dark:text-blue-500"
            >Create account</a
          >
        </div>
      </form>

      <div
        (click)="guestLogin()"
        class="mt-2 cursor-pointer text-center font-medium text-gray-800 underline hover:text-black"
      >
        Guest login (admin)
      </div>
    </div>
  </div>
</section>
